html{
    background-color: #121725;
}

body {
    padding:100px 0px 100px 100px;
    
}

.main{
    position: relative;
}
.logo {
    font-family: "chivo";
    font-weight: 900;
    position: absolute;
    top: 0%;
    left: 4%;
}

.host{
    position: relative;
    left: 50%;
    margin-left: -244px;
}

.container {
    font-family: "chivo";
    font-weight: 300;
    position: absolute;
    top: 25%;
    width: 54%;
    background-color: #121725;
    padding: 4% 0% 4% 4%;
}

.title1,.title2{
    font-size:50px;    
    line-height: 62px;
    margin: 0px;
}

.title1{
    color: #54E6AF;
}

.title2{
    color: #FFFFFF;
    
}

.wrapper{
    width: 70%;
}

.pitch{
    color:#C2CBE5;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

form {
    position: relative;
    margin-top: 40px;
}

input[type="text"]{
    padding: 20px;
    border:0;
    background-color:#2C344B;
    border-radius: 40px;
    font-family: inherit;
    font-weight: inherit;
    width: 90%;
    font-weight: 900;
    
}

input[type="button"]{
    padding: 17px;
    border:0;
    background-color:#54E6AF;
    border-radius: 40px;
    font-family: inherit;
    font-weight: inherit;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 40%;
    font-weight: 900;
    border: 3px solid #2C344B;
}

footer{
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.decorations{
    position: absolute;
    top: 90%;
    right: 0%;
    z-index: 2;
    
}

@media only screen and (max-width: 700px){
    .host,.decorations{
        display: none;
    }

    body{
        padding: 0%;
    }

    .logo{
        position: absolute;
        top: 0%;
        left:50%;
    }

    .container{
        width: 100%;
        position: relative;
        top: unset;

    }

    .title1,.title2{
        font-size: 22px;
        line-height: 36px;
    }
}