html{
    background-color: #121725;
}


.logo {
    font-family: "chivo";
    font-weight: 900;
}

.container {
    font-family: "chivo";
    font-weight: 300;
}

.title1,.title2{
    font-size: 52px;    
    line-height: 62px;
    font-variant-caps: all-petite-caps;
}

.title1{
    color: #54E6AF;
}

.title2{
    color: #FFFFFF;
    margin: 0px;
}

.pitch{
    color:#C2CBE5;
    font-size: 18px;
}

input[type="text"]{
    padding: 10px;
    border:0;
    background-color:#2C344B;
    border-radius: 20px;
    font-family: inherit;
    font-weight: inherit;
    
}

input[type="button"]{
    padding: 10px;
    border:0;
    background-color:#54E6AF;
    border-radius: 20px;
    font-family: inherit;
    font-weight: inherit;
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}